@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');

#title {
    background-color: red;
    text-align: center;
    padding: 0;
    margin: 0;
}

#pac-container{
    position: relative;
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    
}

.pac-card {
    border-style : solid;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: bold;
}



#map {
    min-height: 360px;
}


